 <html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Request to Cancel Subscription</title>  
   </head>
   <body>
      <p><%= name %> has submitted a request to cancel the subscription for <%= team %></p>
      <p>Users Email: <%= email %></p>
      <p>Fusebill Billing ID: <%= billingId %></p>
   </body>
</html>
