 <html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Solicitud de cancelar subscripción</title>  
   </head>
   <body>
      <p><%= name %> ha suministrado una solicitud para cancelar subscripción <%= team %></p>
      <p>Correo de usuario: <%= email %></p>
      <p>Fusebill Identificacion de Factura: <%= billingId %></p>
   </body>
</html>
